.spacer {
	width: 20px;
}

#logoContainer, #copyContainer {
	-moz-box-align: center;
}

#logo {
	list-style-image: url("chrome://hashr/skin/hashr_banner.png");
	margin-left: 15px;
}

#hashr-statusbarpanel {
	list-style-image: url("chrome://hashr/skin/hashr.png");
}

#hashrClipboard {
	background: url("chrome://hashr/skin/copy_up.png") no-repeat;
	width: 16px;
	height: 16px;
}

#hashrClipboard:hover {
	background: url("chrome://hashr/skin/copy_over.png") no-repeat;
}

#hashrClipboard:active {
	background: url("chrome://hashr/skin/copy_down.png") no-repeat;
}
